<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn About Esports</title>
    <link rel="shortcut icon" type="image/x-icon" href="<%=url('favicon.png')%>">
    <link rel="stylesheet" type="text/css" href="<%=url('difficult.css')%>">
</head>
<body>
    <header>
        <div class="logo">
            <img src="<%=url('favicon.png')%>" width="50" height="50" alt="Logotipo de KnowAboutEsports" title="Logotipo hecho por el equipo de KnowAboutEsports">
            <h1><a href="/home">KnowAboutEsports</a></h1>
        </div>
        <nav>
            <ul class="left-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/perfil">Perfil</a></li>
            </ul>
            <ul class="right-nav">
                <li><a href="/logout">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Seleccione el tipo de cuestionario para <%= selected_game.upcase  %></h2>
         <% if params[:completed_trivia] %>
            <div class="completion-message">
                <p>¡Has completado la trivia de dificultad <%= params[:completed_trivia] %>!</p>
            </div>
        <% end %>
        <div class="difficulty-buttons">
            <form action="/trivia/A/1" method="get">
                <button type="submit" class="difficulty-button">Principiante</button>
            </form>
            <form action="/trivia/B/1" method="get">
                <button type="submit" class="difficulty-button">Casual</button>
            </form>
            <form action="/trivia/C/1" method="get">
                <button type="submit" class="difficulty-button">Profesional</button>
            </form>
            <% if error == 'complete_all_trivias' %>
            <div class="error-message">
                <p>Debe completar todas las trivias antes de acceder al examen final.</p>
            </div>
            <% end %>
            <form action="/final_exam/F/1" method="get">
                <button type="submit" class="difficulty-button">Examen Final</button>
            </form>
        </div>
    </main>
        <script>
        function selectDifficulty(difficulty) {
        var test_letter;
        if (difficulty === 'A') {
            test_letter = 'test_a';
        } else if (difficulty === 'B') {
            test_letter = 'test_b';
        } else if (difficulty === 'C') {
         test_letter = 'test_c';
        } else if (difficulty === 'F') {
            test_letter = 'test_f';
        }

        var form = document.getElementById('triviaForm');
        form.action = '/trivia/' + test_letter + '/1';
        form.submit();
        }       
    </script>
</body>
</html>

