<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn About Esports</title>
    <link rel="shortcut icon" type="image/x-icon" href="<%=url('favicon.png')%>">
    <link rel="stylesheet" type="text/css" href="<%=url('difficult.css')%>">
</head>
<body>
    <header>
        <div class="logo">
            <img src="<%=url('favicon.png')%>" width="50" height="50" alt="Logotipo de KnowAboutEsports" title="Logotipo hecho por el equipo de KnowAboutEsports">
            <h1><a href="/home">KnowAboutEsports</a></h1>
        </div>
        <nav>
            <ul class="left-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/perfil">Perfil</a></li>
            </ul>
            <ul class="right-nav">
                <li><a href="/logout">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="wrapper">
            <h2>Seleccione una dificultad para <%= session[:selected_game] %></h2>

            <!-- Mostrar mensaje si se completó una trivia -->
            <% if params[:completed_trivia] %>
            <div class="completion-message">
                <p>¡Has completado la trivia de dificultad <%= params[:completed_trivia] %>!</p>
            </div>
            <% end %>

            <!-- Mostrar mensaje de error si no se han completado todas las trivias -->
            <% if params[:error] == 'complete_all_trivias' %>
            <div class="error-message" style="color: red;">
                <p>Debe completar las 3 trivias para hacer el examen final.</p>
            </div>
            <% end %>

            <div class="difficulty-buttons">
                <!-- Ruta para Principiante -->
                <form action="/<%= selected_game.number %>/A/1" method="get">
                    <button type="submit" class="difficulty-button">Principiante</button>
                </form>

                <!-- Ruta para Casual -->
                <form action="/<%= selected_game.number %>/B/1" method="get">
                    <button type="submit" class="difficulty-button">Casual</button>
                </form>

                <!-- Ruta para Profesional -->
                <form action="/<%= selected_game.number %>/C/1" method="get">
                    <button type="submit" class="difficulty-button">Profesional</button>
                </form>

                <!-- Guía teórica dinámica basada en el número del juego -->
                <a href="<%= selected_game.number == 1 ? 'https://steamcommunity.com/sharedfiles/filedetails/?id=3268297370' : 
                    selected_game.number == 2 ? 'https://steamcommunity.com/sharedfiles/filedetails/?id=3348891471' :
                    selected_game.number == 3 ? 'https://steamcommunity.com/sharedfiles/filedetails/?id=3348936069' : '#' %>" target="_blank">
                    <button type="button">
                        Guía Teórica
                    </button>
                </a>
            </div>

            <!-- Mostrar los botones si el usuario es administrador -->
            <% if is_admin %>
            <button onclick="openCreateQuestionModal()">Crear nueva pregunta</button>
            <button onclick="listIncorrectQuestions()">Listar preguntas contestadas incorrectamente</button>
            <button onclick="listCorrectQuestions()">Listar preguntas contestadas correctamente</button>
            <!-- Modal para crear nueva pregunta -->
                <div id="createQuestionModal" class="modal" style="display:none;">
                    <div class="modal-content">
                        <span class="close" onclick="closeCreateQuestionModal()">&times;</span>
                        <h2>Crear nueva pregunta</h2>
                        <form action="/create_question" method="post">
                            <!-- Campo para el número de la pregunta -->
                            <h3>Dificultad</h3>
                            <div class="difficulty-selection">
                            <label>
                                <input type="radio" name="test_letter" value="A" required>
                                Principiante
                            </label>
                            <label>
                                <input type="radio" name="test_letter" value="B">
                                Casual
                            </label>
                            <label>
                                <input type="radio" name="test_letter" value="C">
                                Profesional
                            </label>
                            </div>
                            
                            <!-- Campo para la trivia -->
                            <h3>Trivia</h3>
                            <input type="text" name="trivia_title" placeholder="Título de la trivia" required>
                            <input type="text" name="trivia_description" placeholder="Descripción de la trivia" required>
                            
                            <!-- Campo para la descripción de la pregunta -->
                            <h3>Pregunta</h3>
                            <input type="text" name="question_description" placeholder="Escribe la descripción de la pregunta" required>
                            
                           <!-- Respuestas -->
                            <h3>Respuestas</h3>
                            <input type="text" name="correct_answer" placeholder="Escribe la respuesta correcta" required>
                            <input type="text" name="incorrect_answer_1" placeholder="Escribe una respuesta incorrecta" required>
                            <input type="text" name="incorrect_answer_2" placeholder="Escribe otra respuesta incorrecta" required>
                            
                            <!-- Botón para guardar la pregunta -->
                            <button type="submit">Guardar nueva pregunta</button>
                        </form>
                    </div>
                </div>
                <script>
                    function openCreateQuestionModal() {
                        document.getElementById('createQuestionModal').style.display = 'block';
                    }

                    function closeCreateQuestionModal() {
                        document.getElementById('createQuestionModal').style.display = 'none';
                    }

                    function listIncorrectQuestions() {
                        // Redireccionar a la ruta para listar preguntas incorrectas
                        window.location.href = "/list_incorrect_questions";
                    }s

                    function listCorrectQuestions() {
                        // Redireccionar a la ruta para listar preguntas correctas
                        window.location.href = "/list_correct_questions";
                    }
                </script>
            </div>
            <% end %>

            <form action="/start_final_exam" method="post">
                <h2>¿Crees que sabes lo suficiente? ¡Demuéstralo aquí!</h2>    

                <% if error_message %>
                <div class="error-message" style="color: red;">
                    <p><%= error_message %></p>
                </div>
                <% end %>

                <button type="submit" class="difficulty-button">Examen Final</button>

            </form>
            </div>
        </section>
    </main>

    <script>
        function applySavedTheme() {
            const savedTheme = localStorage.getItem('theme');
            if (savedTheme === 'dark') {
                document.body.classList.add('dark-mode');
            }
        }

        // Llamar a la función para aplicar el tema guardado cuando se cargue la página
        window.onload = applySavedTheme;
    </script>
</body>
</html>
