<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn About Esports</title>
    <link rel="shortcut icon" type="image/x-icon" href="<%=url('favicon.png')%>">
    <link rel="stylesheet" type="text/css" href="<%=url('difficult.css')%>">
</head>
<body>
    <header>
        <div class="logo">
            <img src="<%=url('favicon.png')%>" width="50" height="50" alt="Logotipo de KnowAboutEsports" title="Logotipo hecho por el equipo de KnowAboutEsports">
            <h1><a href="/home">KnowAboutEsports</a></h1>
        </div>
        <nav>
            <ul class="left-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/perfil">Perfil</a></li>
            </ul>
            <ul class="right-nav">
                <li><a href="/logout">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="wrapper">
            <h2>Seleccione una dificultad para <%= session[:selected_game] %></h2>
            <% if params[:completed_trivia] %>
            <div class="completion-message">
                <p>¡Has completado la trivia de dificultad <%= params[:completed_trivia] %>!</p>
            </div>
            <% end %>
            <div class="difficulty-buttons">
                <!-- Ruta para Principiante -->
                <form action="/<%= selected_game.number %>/A/1" method="get">
                    <button type="submit" class="difficulty-button">Principiante</button>
                </form>

                <!-- Ruta para Casual -->
                <form action="/<%= selected_game.number %>/B/1" method="get">
                    <button type="submit" class="difficulty-button">Casual</button>
                </form>

                <!-- Ruta para Profesional -->
                <form action="/<%= selected_game.number %>/C/1" method="get">
                    <button type="submit" class="difficulty-button">Profesional</button>
                </form>

                <!-- Guía teórica dinámica basada en el número del juego -->
                <a href="<%= selected_game.number == 1 ? 'https://steamcommunity.com/sharedfiles/filedetails/?id=3268297370' : 'https://otro_link_para_street_fighter' %>" target="_blank">
                    <button type="button">
                        Guía Teórica
                    </button>
                </a>
            </div>
            <form action="/start_final_exam" method="post">
                <h2>¿Crees que sabes lo suficiente? ¡Demuéstralo aquí!</h2>    
                <% if error_message %>
                <div class="error-message">
                    <p><%= error_message %></p>
                </div>
                <% end %>
                <button type="submit" class="difficulty-button">Examen Final</button>
            </form>
            </div>
        </section>
    </main>
    <script>
        function selectDifficulty(difficulty) {
        var test_letter;
        if (difficulty === 'A') {
            test_letter = 'test_a';
        } else if (difficulty === 'B') {
            test_letter = 'test_b';
        } else if (difficulty === 'C') {
         test_letter = 'test_c';
        } else if (difficulty === 'F') {
            test_letter = 'test_f';
        }

        var form = document.getElementById('triviaForm');
        form.action = '/trivia/' + test_letter + '/1';
        form.submit();
        }
    </script>
    <script>
        function applySavedTheme() {
            const savedTheme = localStorage.getItem('theme');
            if (savedTheme === 'dark') {
                document.body.classList.add('dark-mode');
            }
        }

        // Llamar a la función para aplicar el tema guardado cuando se cargue la página
        window.onload = applySavedTheme;
    </script>
</body>
</html>
