<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado de la Trivia - KnowAboutEsports</title>
    <link rel="shortcut icon" type="image/x-icon" href="<%= url('favicon.png') %>">
    <link rel="stylesheet" type="text/css" href="<%= url('result.css') %>"/>
</head>
<body>
    <header>
        <div class="logo">
            <img src="<%= url('favicon.png') %>" width="50" height="50" alt="Logotipo de KnowAboutEsports" title="Logotipo hecho por el equipo de KnowAboutEsports">
            <h1><a href="/home">KnowAboutEsports</a></h1>
        </div>
        <nav>
            <ul class="left-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/perfil">Perfil</a></li>
            </ul>
            <ul class="right-nav">
                <li><a href="/logout">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="wrapper">
            <% if correct %>
                <h1>¡Correcto!</h1>
            <% else %>
                <h1>Incorrecto</h1>
            <% end %>
            <p><%= description %></p>
            <% if trivia_completed %>
                <% if exam_final %>
                    <p>¡Has completado el examen final!</p>
                    <form action="/result_exam" method="get">
                        <button type="submit">Ver Resultados</button>
                    </form>
                <% else %>
                    <p>¡Has completado la trivia!</p>
                    <form action="/difficult/<%= session[:selected_game] %>" method="get">
                        <button type="submit">Continuar</button>
                    </form>
                <% end %>
            <% else %>
                <form action="/<%= exam_final ? 'final_exam' : 'trivia' %>/<%= test_letter %>/<%= question_number + 1 %>" method="get">
                    <button type="submit">Siguiente</button>
                </form>
            <% end %>
        </section>
    </main>
</body>
</html>
