<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia - KnowAboutEsports</title>
    <link rel="shortcut icon" type="image/x-icon" href="../assets/imagenes/favicon.ico">
    <link rel="stylesheet" type="text/css" href="<%= url('trivia.css') %>"/>
</head>
<body>
    <header>
        <div class="logo">
            <img src="../assets/imagenes/favicon.ico" width="50" height="50" alt="Logotipo de KnowAboutEsports" title="Logotipo hecho por el equipo de KnowAboutEsports">
            <h1><a href="/home">KnowAboutEsports</a></h1>
        </div>
        <nav>
            <ul class="left-nav">
                <li><a href="/home">Home</a></li>
                <li><a href="/perfil">Perfil</a></li>
            </ul>
            <ul class="right-nav">
                <li><a href="/logout">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Trivia <%= @difficulty.capitalize %></h2>
        <form action="/submit_trivia" method="post">
            <% @questions.each do |question| %>
                <div class="question-box">
                    <div class="question">
                        <b><%= question.description %></b>
                    </div>
                    <!-- Formulario para enviar la respuesta de esta pregunta -->
                    <form action="/submit_answer" method="post">
                        <input name="question_number" value="<%= question.number %>" hidden>
                        <input name="test_letter" value="<%= question.test_letter %>" hidden>
                        <!-- Opciones de respuesta -->
                        <% question.answers.each do |answer| %>
                            <label class="option-button">
                                <input type="radio" name="selected_option" value="<%= answer.number %>" hidden>
                                <b><%= answer.description %></b>
                            </label>
                        <% end %>
                        <!-- Botón de envío -->
                        <div class="answer-button" id="answerButton">
                            <button type="submit"><b>Responder</b></button>
                        </div>
                    </form>
                </div>
            <% end %>
        </form>
    </main>
</body>
</html>

